* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #A3CDD9;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}

nav {
    background-color: #F2CC39;
    height: 80px;
    width: 100%;
}

.logo {
    width: 70px;
    border-radius: 50%;
    margin-left: 10px;
    position: absolute;
    top: 3px;
    left: 0%;
}

.nav-links {
    float: right;
    margin: 15px;
}

.nav-links li {
    display: inline-block;
    line-height: 80px;
    margin-right: 25px;
}

.nav-links li a {
    position: relative;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

.nav-links li a:before {
    position: absolute;
}

.nav-links li a.active,
.nav-links li a:hover {
    background: #506AD4;
    transition: .5s;
}

.burger {
    display: none;
    cursor: pointer;
    float: right;
    margin-right: 25px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

article {
    width: 60rem;
    padding: 15px 0;
}

h1 {
    color: white;
    padding: 10px 0;
}

.imgleft {
    float: left;
    height: 20rem;
    width: 20rem;
    margin: 0rem 1rem 1rem 0rem;
}

.imgright {
    float: right;
    height: 20rem;
    width: 20rem;
    margin: 1rem 0rem 0rem 1rem;
}

article::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:1000px) {
    article {
        width: 50rem;
        margin: 0 auto;
        line-height: 1.5;
    }
}

@media screen and (max-width:800px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: -15px;
        height: 100%;
        background-color: #F2CC39;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        margin-top: 80px;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 1;
    }
    .burger {
        display: block;
        padding-top: 25px;
        margin-right: 25px;
    }
    article {
        width: 45rem;
        margin: 0 auto;
        line-height: 1.5;
    }
}

.nav-active {
    transform: translateX(0%);
}

@media screen and (max-width:700px) {
    article {
        width: 35rem;
        margin: 0 auto;
        line-height: 1.5;
    }
}

@media screen and (max-width:600px) {
    article {
        width: 30rem;
        margin: 0 auto;
        line-height: 1.5;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45dg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 1;
}

.toggle .line3 {
    transform: rotate(45dg) translate(-5px, -6px);
}