* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    display: block;
    background-color: #A3CDD9;
    border-image-width: 100%;
    margin: 0px;
}

.logo {
    width: 70px;
    border-radius: 50%;
    margin: 1px 0px 0px 100px;
    position: relative;
    top: 3px;
    left: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
}

nav {
    background-color: #F2CC39;
    height: 80px;
    width: 100%;
}

nav ul {
    float: right;
    margin: 15px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin-right: 25px;
}

nav ul li a {
    position: relative;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

nav ul li a:before {
    position: absolute;
}

a.active,
a:hover {
    background: #506AD4;
    transition: .5s;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

li a:hover {
    border: 2px solid #506AD4;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: #506AD4;
}


/* .radio {
    display: none;
} */

.container {
    position: relative;
    max-width: 800px;
    margin: 5% auto;
}

.slider {
    width: 100%;
    display: inline-flex;
}

.slider img {
    width: 100%;
}


/* .slider {
    width: 100%;
    position: absolute;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
    border: solid 1px white;
    box-shadow: 0 0 40px white;
    display: inline-flex;
    transition: 0.7s;
} */


/* .dotsIndicator {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}

.dotsIndicator label {
    display: inline;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    background: white;
} */


/* .slider img {
    width: 100%;
}

.dotsIndicator {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
} */


/* .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
    transition: 1.3s;
} */

.dotsIndicator {
    width: 100%;
    position: absolute;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dotsIndicator label {
    width: 15px;
    height: 15px;
    background: white;
    margin: 0 10px;
    border-radius: 50%;
    opacity: 0.7;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.dotsIndicator label:hover {
    opacity: 0.7;
}


/* #radio-1:checked~#slide-1,
#radio-2:checked~#slide-2,
#radio-3:checked~#slide-3,
#radio-4:checked~#slide-4,
#radio-5:checked~#slide-5 {
    opacity: 1;
} */


/* @media (max-width:2000px) {
    .logo {
        left: 0%;
    }
}

@media (max-width:944px) {
    .logo {
        left: 0%;
    }
}

@media (max-width:750px) {
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        left: 0px;
        top: 80px;
        text-align: center;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
}

@media (max-width:550px) {
    .logo {
        left: 0%;
    }
} */